      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-controller="StatscontrollersServerStatsCtrl as ser1">
         <div class="panel panel-default panel-white">
            <div class="panel-heading clearfix">
             <h2 class="panel-head pull-left">server stats<small>distance stats..</small></h2>
              <div class="pull-right">
                
                  <button type="button" class="btn-faded-icon">
                    <i class="fa fa-chevron-down"></i>
                  </button>
                  <button type="button" class="btn-faded-icon">
                    <i class="fa fa-wrench"></i>
                  </button>
                  <button type="button" class="btn-faded-icon">
                    <i class="fa fa-sync-alt"></i>
                  </button>
                  <button type="button" class="btn-faded-icon">
                    <i class="fa fa-times"></i>
                  </button>
                
              </div>
            </div>
            <!-- /.panel-heading-->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="chart-block" style="padding:28px">
                    <div id="column1" style="vertical-align: middle;display: inline-block; width: 110px; height: 90px;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="chart-block" style="padding:28px">
                    <div id="column2" style="vertical-align: middle;display: inline-block; width: 110px; height: 90px;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="chart-block" style="padding:28px">
                    <div id="column3" style="vertical-align: middle;display: inline-block; width: 110px; height: 90px;"></div>
                    </div>
                </div>
              </div>
              <!-- /.row-->
            </div>
            <!-- /.panel-body-->
          </div>
      </div>