          <div class="panel panel-default panel-white" ng-controller="finance-stats as f3">
            <div class="panel-heading clearfix">
              <h2 class="panel-head pull-left">finance<small>distance stats..</small></h2>
              <div class="pull-right">
                <button type="button" class="btn-rounded"><i class="fa fa-pencil-alt"></i> Edit</button>
                <button type="button" class="btn-rounded"><i class="fa fa-print"></i> Print</button>
              </div>
            </div>
            <!-- /.panel-heading-->
            <div class="panel-body">
              <div class="row">
                <!-- /.col-lg-4 (nested)-->
                <div class="col-lg-12">
                  <am-chart id="myFirstChart2" options="amChartOptions" height="350px" width="100%"></am-chart>
                </div>
                <!-- /.col-lg-8 (nested)-->
              </div>
              <!-- /.row-->
            </div>
            <!-- /.panel-body-->
          </div>