<div class="panel panel-default panel-white" ng-controller="RevenueStatsCtrl as r1">
            <div class="panel-heading clearfix">
             <h2 class="panel-head pull-left">revenue<small>distance stats..</small></h2>
              <div class="pull-right">
                
                  <button type="button" class="btn-rounded-icon">
                    <i class="fa fa-cloud-upload-alt"></i>
                  </button>
                  <button type="button" class="btn-rounded-icon">
                    <i class="fa fa-wrench"></i>
                  </button>
                  <button type="button" class="btn-rounded-icon">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button type="button" class="btn-rounded-icon">
                    <i class="fa fa-expand-arrows-alt"></i>
                  </button>
                
              </div>
            </div>
            <!-- /.panel-heading-->
            <div class="panel-body">
              <div class="row">
                <!-- /.col-lg-4 (nested)-->
                <div class="col-lg-12">
                <am-chart id="myFirstChart" options="amChartOptions2" height="350px" width="100%"></am-chart>
              </div>
            </div>
            </div>
            <!-- /.panel-body-->
          </div>